*{
    background-color: #061F00;
    color:white;
}
h1{
    font-size:50px;
}
h2{
    font-size:30px;
}
h3{
    font-size:20px;
}
p{
    font-size:10px;
}
a,a:visited{
	color:greenyellow;
	text-decoration: none;
}
a:hover{
	color: black;
	text-decoration: underline
}
.images img{
	height: 100px
}